@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-BookItalic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

html, body {
    margin: 0;
}

body {
    background-image: linear-gradient(90deg, #363636, #444444);
    background-color: #363636;
    color: #fff;
    font-family: 'Whitney';
}

.gradient {
    background-image: linear-gradient(90deg, #00d2ff, #3a7bd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    font-weight: bold;
    font-size: 80px;
}

.hero {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #363636;
    color: white;
    text-align: center;
 }

.nav {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4c6faf;
    color: white;
}

.nav-links {
    list-style: none;
}

.button {
    background-color: #564caf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button :hover {
    background-color: #3e5a8e;
    color: white;
}