<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mecha Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
        window.onload = function() {
            console.log("Welcome to our website!");
        };
    </script>
</head>
<body>
    <div class="nav">
        <div class="nav-links">
            <a class="active" href="#">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="https://app.revolt.chat/bot/01FZB4GBHDVYY6KT8JH4RBX4KR" target="_blank">Invite</a>
            <a href="https://rvlt.gg/BzyJSx82" target="_blank">Support</a>
        </div>
    </div>

    <div class="hero">
        <span class="gradient">Mecha</span>
        <p>We're glad to have you here!</p>
        <hr>
    </div>
    <a class=button href="https://app.revolt.chat/bot/01FZB4GBHDVYY6KT8JH4RBX4KR">Invite Mecha!</a>
    <a class=button href="https://rvlt.gg/BzyJSx82">Support</a>

    <div class="footer">
        <p>Thank you all for {{ users }} across {{ servers }} servers!</p>
    </div>
</body>
</html>
