<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecha Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
        window.onload = function() {
            console.log("Welcome to our website!");
        };
    </script>
</head>
<body>
    <h1>Hello, Visitor!</h1>
    <p><span class="gradient">Mecha</span>. We're glad to have you here!</p>

    <div class="hero">
        <h3>Thank you all for:<h3>
        <p>{{ users }} across {{ servers }} servers!</p>
    </div>
</body>
</html>
